<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:cc="http://www.autonavi.com/schema/configCenter"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context-4.0.xsd  
        http://www.springframework.org/schema/aop   
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<!-- where job -->
	<bean name="autoExceUserWhereJob"
		class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="cn.dataup.datacenter.quartz.AutoExceUserWhereJob" />
		<property name="durability" value="true" />
	</bean>
	<bean id="autoExceUserWhereTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="autoExceUserWhereJob" />
		<property name="cronExpression" value="0 0 2 * * ?" />
	</bean>

	<!-- age job -->
	<bean name="autoExceUserAgeJob"
		class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="cn.dataup.datacenter.quartz.AutoExceUserAgeJob" />
		<property name="durability" value="true" />
	</bean>
	<bean id="autoExceUserAgeTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="autoExceUserAgeJob" />
		<property name="cronExpression" value="0 0 2 * * ?" />
	</bean>
	<!-- auditRate job -->
<!-- 	
	<bean name="autoExceAuditRateJob"
		class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="cn.dataup.datacenter.quartz.AutoExceAuditRateJob" />
		<property name="durability" value="true" />
	</bean>
	<bean id="autoExceAuditRateTigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="autoExceAuditRateJob" />
		<property name="cronExpression" value="0 0 6 * * ?" />
	</bean> -->
	<!-- task x y point job -->
	<bean name="autoExceTaskXYJob"
		class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="cn.dataup.datacenter.quartz.AutoExceTaskXYJob" />
		<property name="durability" value="true" />
	</bean>
	<bean id="autoExceTaskXYTigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="autoExceTaskXYJob" />
		<property name="cronExpression" value="0 0 5 * * ?" />
	</bean>
	
	<bean name="quartzScheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="autoExceUserWhereTrigger" />
				<ref bean="autoExceUserAgeTrigger" />
				<ref bean="autoExceTaskXYTigger" />
			</list>
		</property>
	</bean>

</beans>